*.rar
*.o
*.d
*.crf
*.htm
*.dep
*.map
*.bak
*.lnp
*.lst
*.ini
*.iex
*.sct
*.scvd
*.uvguix
*.dbg*
*.uvguix.*
.mxproject
RTE/
!*.uvprojx
!*.h
!*.c
keil-assistant.log
uv4.log
uv4.log.lock
JLinkLog.txt
c_cpp_properties.json
*.hex
*.axf
*.__i
includes.txt
